[submodule "apps/patlix-web"]
	path = apps/patlix-web
	url = git@github.com:PatlixStudio/patlix-web.git
[submodule "apps/patlix-api"]
	path = apps/patlix-api
	url = git@github.com:PatlixStudio/patlix-api.git
[submodule "libs/shared"]
	path = libs/shared
	url = git@github.com:PatlixStudio/patlix-shared.git
[submodule "apps/arkadion-api"]
	path = apps/arkadion-api
	url = git@github.com:PatlixStudio/arkadion-api.git
[submodule "apps/arkadion-web"]
	path = apps/arkadion-web
	url = git@github.com:PatlixStudio/arkadion-web.git
[submodule "apps/falina-api"]
	path = apps/falina-api
	url = git@github.com:PatlixStudio/falina-api.git
[submodule "apps/falina-web"]
	path = apps/falina-web
	url = git@github.com:PatlixStudio/falina-web.git
[submodule "libs/falina-shared"]
	path = libs/falina-shared
	url = git@github.com:PatlixStudio/falina-shared.git
[submodule "libs/patlix-world-shared"]
	path = libs/patlix-world-shared
	url = git@github.com:PatlixStudio/patlix-world-shared.git
[submodule "apps/patlix-world-api"]
	path = apps/patlix-world-api
	url = git@github.com:PatlixStudio/patlix-world-api.git
[submodule "apps/patlix-world-web"]
	path = apps/patlix-world-web
	url = git@github.com:PatlixStudio/patlix-world-web.git
[submodule "apps/aurel-dashboard-api"]
	path = apps/aurel-dashboard-api
	url = git@github.com:PatlixStudio/aurel-dashboard-api.git
[submodule "apps/aurel-dashboard-web"]
	path = apps/aurel-dashboard-web
	url = git@github.com:PatlixStudio/aurel-dashboard-web.git
[submodule "apps/patlix-people-api"]
	path = apps/patlix-people-api
	url = git@github.com:PatlixStudio/patlix-people-api.git
[submodule "apps/patlix-people-web"]
	path = apps/patlix-people-web
	url = git@github.com:PatlixStudio/patlix-people-web.git
[submodule "libs/patlix-people-shared"]
	path = libs/patlix-people-shared
	url = git@github.com:PatlixStudio/patlix-people-shared.git
