[submodule "apps/web"]
	path = apps/web
	url = git@github.com:PatlixStudio/patlix-web.git
[submodule "apps/api"]
	path = apps/api
	url = git@github.com:PatlixStudio/patlix-api.git
[submodule "libs/shared"]
	path = libs/shared
	url = git@github.com:PatlixStudio/patlix-shared.git
[submodule "apps/arkadion-api"]
	path = apps/arkadion-api
	url = git@github.com:PatlixStudio/arkadion-api.git
[submodule "apps/arkadion-web"]
	path = apps/arkadion-web
	url = git@github.com:PatlixStudio/arkadion-web.git
[submodule "apps/falina-api"]
	path = apps/falina-api
	url = git@github.com:PatlixStudio/falina-api.git
[submodule "apps/falina-web"]
	path = apps/falina-web
	url = git@github.com:PatlixStudio/falina-web.git
[submodule "libs/falina-shared"]
	path = libs/falina-shared
	url = git@github.com:PatlixStudio/falina-shared.git
[submodule "libs/patlix-world-shared"]
	path = libs/patlix-world-shared
	url = git@github.com:PatlixStudio/patlix-world-shared.git
[submodule "apps/patlix-world-api"]
	path = apps/patlix-world-api
	url = git@github.com:PatlixStudio/patlix-world-api.git
[submodule "apps/patlix-world-web"]
	path = apps/patlix-world-web
	url = git@github.com:PatlixStudio/patlix-world-web.git
